<form (ngSubmit)="crearPago()">
	<div class="form-group">
		<label for="Anexo" class="col-4 col-form-label">Numero de Anexo</label>
		<div class="col-10">
			<select name="anexo" id="anexo"  class="custom-select" [(ngModel)]="pagoAnexo.idanexo" name="idAnexo">
				<option [value]="anexo.idAnexo" *ngFor="let anexo of anexos">{{anexo.anexooc}}</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<input type="checkbox" aria-label="Checkbox for following text input" >
		<label for="" class="col col-form-label" style="display: inline;">Alex</label>
		
	</div>
      
</form>