<div *ngFor="let anexo of anexos">
<p>{{anexo.anexooc}}</p>
<p>{{anexo.clavepresupuestal}}</p>
<p>{{anexo.descripcion}}</p>
<p>{{anexo.fechaInicio}}</p>
<p>{{anexo.fechaFin}}</p>
<p>{{anexo.importeanexo}}</p>
<p>{{anexo.montoxpago}}</p>
<p>{{anexo.numeropagos}}</p>
<p>{{anexo.Cliente}}</p>
<p>{{anexo.periodo.idperiodo}}</p>



<table class="table">
	<thead class="thead-dark">
		<tr>
			<th >Anexo</th>
			<th>id Persona</th>
			<th>Nombre Consultor</th>
			<th>Fecha Inicio Facturacion</th>
			<th>Fecha Inicio Pago</th>
			<th>Numero de Pago</th>
			<th>Numero de Pagos Faltantes</th>
			<th>Fechas de Pagos</th>
			<th>Fechas de Facturacion</th>
			<th>Factura</th>
			<th>Monto de Pago</th>
			<th >Saldo</th>		
		</tr>
	</thead>
	<p>anexo:{{anexo.idanexo}}</p>
	<tbody *ngFor="let pagoAnexo of pagosAnexos">
		<tr *ngIf="anexo.idanexo==pagoAnexo.anexo.idanexo">
				<td>{{pagoAnexo.anexo.idanexo}}</td>
				<td>{{pagoAnexo.persona.idpersona}}</td>
				<td>{{pagoAnexo.persona.nombre}} {{pagoAnexo.persona.apellidoPaterno}} {{pagoAnexo.persona.apellidoMaterno}}</td>
				<td>{{pagoAnexo.fechainiciofactura}}</td>
				<td>{{pagoAnexo.fechainiciopago}}</td>
				<td>{{pagoAnexo.numeropago}}</td>
				<td>{{pagoAnexo.pagosfaltantes}}</td>
				<td>{{pagoAnexo.fechapago}}</td>
				<td>{{pagoAnexo.fechafacturaion}}</td>
				<td>{{pagoAnexo.idfactura}}</td>
				<td>{{pagoAnexo.montopago}}</td>
				<td>{{pagoAnexo.saldo}}</td>
				
		</tr>
	</tbody>
</table>

</div>